#hero {
  background-image: url(Photo/Two.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: right;
  height: 100vh;
}
#button1 {
  background-color: #e9c46a;
}
#slider {
  background-image: url(Photo/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
#oraimo {
  background-color: #000;
}

#apple {
  background-color: #000;
}
#samsung {
  background-color: #e9c46a;
}
#beats {
  background-color: #e9c46a;
}
.white {
  height: 530px;
}
.beats {
  color: #e9c46a;
}
